{% extends "base.html" %}

{% block content %}
<main class="d-flex flex-column align-items-center justify-content-center min-vh-100 py-4 bg-dark text-light">
    <div class="container d-flex flex-column align-items-center">
        <a href="{% url 'all-habits' %}" class="btn btn-warning mb-4">
            Back to all habits
        </a>
        <div class="w-100" style="max-width: 600px;">
            <h3 class="text-warning text-center mb-4">
                {% if form.instance.pk %}
                    Update Habit
                {% else %}
                    Create New Habit
                {% endif %}
            </h3>
            <form action="" method="post" novalidate class="bg-secondary text-light p-4 rounded shadow-sm">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn
                    {% if form.instance.pk %}
                        btn-primary
                    {% else %}
                        btn-warning
                    {% endif %} btn-lg mt-3">
                    {% if form.instance.pk %}
                        Update
                    {% else %}
                        Submit
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
