{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <main class="d-flex flex-column align-items-center justify-content-center min-vh-100 bg-dark text-light">
        <div class="container py-5">
            <h3 class="text-light text-center mb-5"><em class="text-warning h3">My Habit List</em></h3>
            <h3 class="text-light text-center mb-5"><em class="text-warning h3">Available Habits: {{ num_user_habits }}</em></h3>
            <div class="d-flex justify-content-between align-items-center my-3">
                <em style="color: yellow">Information</em>
                <a href="{% url 'all-habits' %}" class="btn btn-warning">Assign New Habit</a>
            </div>
            <form method="get" action="">
                <div class="form-group">
                    {{ search_form|crispy }}
                    <button type="submit" class="btn btn-warning col-12 mt-3">🔎 Search</button>
                </div>
            </form>
            <div class="progress mb-4" style="height: .4rem; background-color: aqua;"></div>
            <div class="table-responsive">
                <table class="table table-dark table-hover text-light rounded shadow">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Days to Achieve</th>
                            <th>Date of Assign</th>
                            <th>Achieved Habit</th>
                            <th class="actions-column">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in user_habit_details %}
                            <tr>
                                <td>{{ detail.user_habit.habit.name }}</td>
                                <td>{{ detail.user_habit.habit.description }}</td>
                                <td>
                                    {% if detail.days_to_achieve > 0 %}
                                        {{ detail.days_to_achieve }}
                                    {% else %}
                                        Completed
                                    {% endif %}
                                </td>
                                <td>{{ detail.user_habit.date_of_assign }}</td>
                                <td>{{ detail.achieved_habit_is_true }}</td>
                                <td class="actions-column">
                                    <a href="{% url "update-habit" detail.user_habit.habit.pk %}" class="btn btn-primary btn-sm">Edit</a>
                                    <a href="{% url "remove-habit" detail.user_habit.habit.pk %}" class="btn btn-danger btn-sm">Remove</a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No habits available</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
