{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
	<main class="d-flex flex-column align-items-center justify-content-center vh-100">
		<div class="container">
			<h3 class="text-light p-0 mb-5"><em class="text-warning h3">My habit list</em></h3>
			<h3 class="text-light p-0 mb-5"><em class="text-warning h3">Available habits: {{ num_user_habits }}</em></h3>
			<div class="d-flex justify-content-between align-items-center my-3">
				<em style="color: yellow">Information</em>
				<a href="{% url 'all-habits' %}" class="btn btn-warning float-right">Assign new habit</a>
			</div>
			<form method="get" action="">
				{{ search_form|crispy }}
				<input class="col-xl-12" type="submit" value="🔎">
			</form>
			<div class="progress" style="height: .4rem; background-color: aqua;"></div>
			<table class="table text-light my-4">
				<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Days to achieve</th>
					<th>Date of assign</th>
					<th>Achieved habit</th>
					<th class="actions-column">Actions</th>
				</tr>
				</thead>
				<tbody>
				{% for detail in user_habit_details %}
					<tr>
						<td>{{ detail.user_habit.habit.name }}</td>
						<td>{{ detail.user_habit.habit.description }}</td>
						<td>
							{% if detail.days_to_achieve %}
								{{ detail.days_to_achieve }}
							{% else %}
								Completed )
							{% endif %}
						</td>
						<td>{{ detail.user_habit.date_of_assign }}</td>
						<td>{{ detail.achieved_habit_is_true }}</td>
						<td class="actions-column">
							<a href="{% url "update-habit" detail.user_habit.habit.pk %}" class="btn btn-primary btn-sm">Edit</a>
							<a href="{% url "remove-habit" detail.user_habit.habit.pk %}" class="btn btn-danger btn-sm">Remove from my
								list</a>
						</td>
					</tr>
				{% empty %}
					<tr>
						<td colspan="5" class="text-center">No habits available</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
