{% if is_paginated %}
    <ul class="pagination pagination-sm pagination-yellow justify-content-center">
        <!-- Always show Prev button, but disable if on the first page -->
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            {% if page_obj.has_previous %}
                <a class="page-link text-warning border-warning" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span> Prev
                </a>
            {% else %}
                <span class="page-link text-warning border-warning" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span> Prev
                </span>
            {% endif %}
        </li>

        <!-- Display current page number -->
        <li class="page-item active">
            <span class="page-link bg-warning border-warning text-black">
                {{ page_obj.number }}
            </span>
        </li>

        <!-- Always show Next button, but disable if on the last page -->
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            {% if page_obj.has_next %}
                <a class="page-link text-warning border-warning" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    Next <span aria-hidden="true">&raquo;</span>
                </a>
            {% else %}
                <span class="page-link text-warning border-warning" aria-label="Next">
                    Next <span aria-hidden="true">&raquo;</span>
                </span>
            {% endif %}
        </li>
    </ul>
{% endif %}
